table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }

.color2 { background-color: #6ff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:blue
}

.edgyshadow { text-shadow: 0 0 3px #f00, 0 0 5px #00f;
}

.dtborder { color: #7500c3; border-width: 2px; border-style: solid; border-color: #7500c3;
}

  .decoration {
  color: red;
  background-color:aqua;
  text-decoration-thickness:50%; 
  text-decoration-color:aquamarine; 
  text-decoration-style:solid 
  }

.button {
 display: inline-block;
 padding: 10px 20px;
 background-color: #7500c3; /* Button background color */
 color: #fff; /* Button text color */
 text-decoration: none;
 border-radius: 5px; /* Rounded corners */
 border: none;
 cursor: pointer;
 font-size: 20px; /* Adjust font size as needed */
}

.color { color: rgb(8, 245, 8);
}

.container { float: right;

}

.button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.styled-paragraph { text-transform: uppercase;} /* Konverter tekst til store bokstaver 



